.metricas {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin: 0 auto;
}
.metricas__grid {
    width: 15%;
}
.metricas__numeros{
    font-size: 60px;
    color: var(--elementos-destaque);
    font-weight: 600;
    padding-bottom: .2em;
}
.metricas__titulo {
    font-size: 18px;
    color: var(--textos-negrito);    
    font-weight: 500;
    padding: .5em 0;
}
